@model MerchStore.Application.Products.DTOs.ProductDetailsDto
@{
	ViewData["Title"] = "Radera produkt";
}

<h2>Är du säker på att du vill radera denna produkt?</h2>

<div class="alert alert-warning">
	<strong>@Model.Name</strong><br />
	<p>@Model.Description</p>
	<p><strong>Price:</strong> @Model.Price.ToString("0.00")</p>
	<p><strong>Category:</strong> @Model.Category</p>
</div>

<form asp-action="Delete" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">🗑 yes, erase</button>
	<a asp-action="Products" class="btn btn-secondary">Abort</a>
</form>